<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style6.css') }}">
    <title>Follower</title>
</head>
<body>
    <div class="header">
        <h1><span> myWatchList!</span>Folllower</h1>
    </div>
    <nav>
        <form action="movie_list.html">
            <input  class="search" type="text" placeholder="Search Movies">
        </form>
        <div class="link">
            <a href="/to_show/{{session['id']}}">My Movie</a>
            <a href="/result/{{session['id']}}">My Profile</a>
            <a href="/logout">Log Out</a>
        </div>
    </nav>
    <div class="main">
        {% if users.id == session['id']%}
            <h2>Your Follower</h2>
        {% endif %}
        {% if users.id != session['id']%}
            <h2>{{users.username}}'s Follower</h2>
        {% endif %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Follow</th>
                </tr>
            </thead>
            <tbody>
                {%for follower in followers %}
                <tr>
                    <td>{{follower.username}}
                    <td><form class="btn3" action="/follow/{{follower.id}}" method="post">
                        <button class="btn2">Follow</button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>