<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style3.css') }}">
    <title>Search Page</title>
</head>
<body>
    <div class="header">
        <h1><span> myWatchList!</span>Movies</h1>
    </div>
    <nav>
        <div class="link">
            <a href="/result/{{session['id']}}">My Profile</a>
            <a href="/logout">Log Out</a>
        </div>
    </nav>
    <div class="main">
        <a href="/result/{{user.id}}"><h3>{{user.username}}</h3></a>
    </div>
</body>
</html>